.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #512689;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 26px;
}

.header-subtitle {
  margin: 0;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.logout-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 8px 16px;
  font-size: 16px;
  color: #f8f8f8;
  background-color: transparent;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #5d2e99;
}

.employee-header {
  justify-content: space-between;
}

.employee-header .header-content {
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.employee-header .header-content h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 50px;
  white-space: nowrap;
}

.employee-header .header-content h3 {
  font-size: 1.5rem;
  font-weight: normal;
  white-space: nowrap;
}

.employee-header img {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  margin-left: 22%;
}

.back-btn {
  position: absolute;
  top: 30px;
  left: 50px;
  padding: 8px 16px;
  font-size: 16px;
  color: #f8f8f8;
  background-color: transparent;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #5d2e99;
}

.back-icon {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 8px 16px;
  background-color: transparent;
  cursor: pointer;
}

.back-icon img {
  margin: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}

.logout-icon {
  display: none;
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.logout-icon img {
  margin: 0;
  width: 26px;
  height: 26px;
}

@media (max-width: 1200px) {
  .header-title {
    font-size: 48px;
    margin-bottom: 26px;
  }

  .header-subtitle {
    font-size: 18px;
  }

  .logout-btn {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .employee-header .header-content h1 {
    font-size: 2.6rem;
  }

  .employee-header .header-content h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 814px) {
  .employee-header .header-content {
    display: flex;
    justify-content: center;
  }

  .logout-btn {
    display: none;
  }

  .logout-icon {
    display: block;
  }

  .back-icon {
    display: block;
  }

  .back-btn {
    display: none;
  }

  .header-title {
    font-size: 40px;
  }

  .header-subtitle {
    font-size: 16px;
  }

  .logout-btn {
    font-size: 12px;
  }
}

@media (max-width: 548px) {
  .header-title {
    margin: 0;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 26px;
  }

  .header-subtitle {
    margin: 0;
    font-size: 20px;
    color: white;
    font-weight: 400;
  }
}
