.register-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #151317;
  font-weight: 400;
}

.register-inputs-container {
  margin-bottom: 20px;
}

.register-btn {
  width: 100%;
  padding: 12px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #512689;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
}

.link {
  font-size: 1.1rem;
  display: block;
  text-align: center;
  margin-top: 12px;
  color: #808185;
  text-decoration: none;
}

.link:hover {
  color: #512689;
}

.success-message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  animation: fadeInOut 1.5s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
